<a href="https://colab.research.google.com/github/shashankrk0406/Python-Fundamentals/blob/main/Module_2_Python_Basics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
order_total = 20
if order_total >= 50:
  print("Congratulations! You qualify for free shipping.")
else:
  print("Add more items to your cart to reach the free shipping threshold!")

Add more items to your cart to reach the free shipping threshold!

In [ ]:
points = 1500

if points >= 1000:
  print("You've achieved Platinum status! Enjoy exclusive benefits.")
elif points >= 500:
  print("You're a Gold member! Thank you for your loyalty.")
elif points >= 100:
  print("Welcome to the Silver tier! Start earning rewards.")
else:
  print("You're a Bronze member. Keep shopping to earn more points!")

You've achieved Platinum status! Enjoy exclusive benefits.

In [ ]:
for i in range(1,10):
  print (i)

1
2
3
4
5
6
7
8
9

In [ ]:
valid_input = False
while not valid_input:
  user_input = int(input("Please enter a number greater than 0: "))
  if user_input > 0:
    valid_input = True
    print("Thank you for entering a valid number.")
  else:
    print("Invalid input. Please try again.")

Please enter a number greater than 0: 8
Thank you for entering a valid number.

In [ ]:
player_score = 800

if player_score > 100:
  print("Congratulations! You scored over 100 points.")
else:
  print("Keep trying to beat your high score!")

Congratulations! You scored over 100 points.

In [ ]:
import random
secret_number = 8
guess = 0

while secret_number != guess:
  guess = random.randint(1,10)
  print("Guessing number:",guess)

print("I guessed the right number! It was",secret_number)

Guessing number: 8
I guessed the right number! It was 8

In [ ]:
child_ticket = 8
adult_ticket = 12
senior_ticket = 10
age = int(input("Please enter your age: "))
if age < 12:
  print("Your ticket price is $",child_ticket)
elif age >= 65:
  print("Your ticket price is $",senior_ticket)
else:
  print("Your ticket price is $",adult_ticket)

Please enter your age: 31
Your ticket price is $ 12

In [ ]:
for i in range (1,11):
  print(i)

1
2
3
4
5
6
7
8
9
10

In [ ]:
i = 1
while i<=10:
  print ('You')
  i = i + 1

You
You
You
You
You
You
You
You
You
You

In [ ]:
option = 4
while option != 4:
    print("1. Perform action 1")
    print("2. Perform action 2")
    print("3. Perform action 3")
    print("4. Quit")

In [ ]:
fruits = ["Apple", "banana", "cherry"]
disp_fruit = fruits[0]
fruit_len = len(fruits)
print('Number of fruits in the list =', fruit_len)
print(disp_fruit)

Number of fruits in the list = 3
Apple

In [ ]:
fruits = ['Apple', 'Banana', 'Cherry']
fruits.append('Apple2')
fruits_d = fruits[3]
print(fruits_d)

Apple2

In [ ]:
people = ['Sha', 'Rii']
for people in people:
  print ('Welcome', people)

Welcome Sha
Welcome Rii

In [ ]:
students = ["Alice", "Bob", "Charlie"]
for i in range (0, len(students)):
  print('Welcome', students[i])

Welcome Alice
Welcome Bob
Welcome Charlie

In [ ]:
import random
i=0
while i != 6:
  i = random.randint(1,6)
  if (i == 6):
    print ('The value you selected in 6! Congrats!')
  else:
    print ('The rolled dice result is,', i)

The rolled dice result is, 1
The rolled dice result is, 4
The rolled dice result is, 3
The value you selected in 6! Congrats!

In [ ]:
total = 0
for number in range(1, 101):
    total += number
    print("The sum is:", total)

The sum is: 1
The sum is: 3
The sum is: 6
The sum is: 10
The sum is: 15
The sum is: 21
The sum is: 28
The sum is: 36
The sum is: 45
The sum is: 55
The sum is: 66
The sum is: 78
The sum is: 91
The sum is: 105
The sum is: 120
The sum is: 136
The sum is: 153
The sum is: 171
The sum is: 190
The sum is: 210
The sum is: 231
The sum is: 253
The sum is: 276
The sum is: 300
The sum is: 325
The sum is: 351
The sum is: 378
The sum is: 406
The sum is: 435
The sum is: 465
The sum is: 496
The sum is: 528
The sum is: 561
The sum is: 595
The sum is: 630
The sum is: 666
The sum is: 703
The sum is: 741
The sum is: 780
The sum is: 820
The sum is: 861
The sum is: 903
The sum is: 946
The sum is: 990
The sum is: 1035
The sum is: 1081
The sum is: 1128
The sum is: 1176
The sum is: 1225
The sum is: 1275
The sum is: 1326
The sum is: 1378
The sum is: 1431
The sum is: 1485
The sum is: 1540
The sum is: 1596
The sum is: 1653
The sum is: 1711
The sum is: 1770
The sum is: 1830
The sum is: 1891
The sum is: 1953
The sum is: 2016
The sum is: 2080
The sum is: 2145
The sum is: 2211
The sum is: 2278
The sum is: 2346
The sum is: 2415
The sum is: 2485
The sum is: 2556
The sum is: 2628
The sum is: 2701
The sum is: 2775
The sum is: 2850
The sum is: 2926
The sum is: 3003
The sum is: 3081
The sum is: 3160
The sum is: 3240
The sum is: 3321
The sum is: 3403
The sum is: 3486
The sum is: 3570
The sum is: 3655
The sum is: 3741
The sum is: 3828
The sum is: 3916
The sum is: 4005
The sum is: 4095
The sum is: 4186
The sum is: 4278
The sum is: 4371
The sum is: 4465
The sum is: 4560
The sum is: 4656
The sum is: 4753
The sum is: 4851
The sum is: 4950
The sum is: 5050

In [ ]:
numbers = [1, 2, 3, 4, 5]
index = 0
print ('Length of the numbers is', len(numbers))
while index < len(numbers):
    if numbers[index] % 2 == 0:
        print(numbers[index])
    index += 1

Length of the numbers is 5
2
4

In [ ]:
for i in range(1, 11):
    for j in range(1, 11):
        print(i, "*", j, "=", i * j, end="\t") # Print the equation
    print() # Move to the next line after each row

1 * 1 = 1	1 * 2 = 2	1 * 3 = 3	1 * 4 = 4	1 * 5 = 5	1 * 6 = 6	1 * 7 = 7	1 * 8 = 8	1 * 9 = 9	1 * 10 = 10
2 * 1 = 2	2 * 2 = 4	2 * 3 = 6	2 * 4 = 8	2 * 5 = 10	2 * 6 = 12	2 * 7 = 14	2 * 8 = 16	2 * 9 = 18	2 * 10 = 20
3 * 1 = 3	3 * 2 = 6	3 * 3 = 9	3 * 4 = 12	3 * 5 = 15	3 * 6 = 18	3 * 7 = 21	3 * 8 = 24	3 * 9 = 27	3 * 10 = 30
4 * 1 = 4	4 * 2 = 8	4 * 3 = 12	4 * 4 = 16	4 * 5 = 20	4 * 6 = 24	4 * 7 = 28	4 * 8 = 32	4 * 9 = 36	4 * 10 = 40
5 * 1 = 5	5 * 2 = 10	5 * 3 = 15	5 * 4 = 20	5 * 5 = 25	5 * 6 = 30	5 * 7 = 35	5 * 8 = 40	5 * 9 = 45	5 * 10 = 50
6 * 1 = 6	6 * 2 = 12	6 * 3 = 18	6 * 4 = 24	6 * 5 = 30	6 * 6 = 36	6 * 7 = 42	6 * 8 = 48	6 * 9 = 54	6 * 10 = 60
7 * 1 = 7	7 * 2 = 14	7 * 3 = 21	7 * 4 = 28	7 * 5 = 35	7 * 6 = 42	7 * 7 = 49	7 * 8 = 56	7 * 9 = 63	7 * 10 = 70
8 * 1 = 8	8 * 2 = 16	8 * 3 = 24	8 * 4 = 32	8 * 5 = 40	8 * 6 = 48	8 * 7 = 56	8 * 8 = 64	8 * 9 = 72	8 * 10 = 80
9 * 1 = 9	9 * 2 = 18	9 * 3 = 27	9 * 4 = 36	9 * 5 = 45	9 * 6 = 54	9 * 7 = 63	9 * 8 = 72	9 * 9 = 81	9 * 10 = 90
10 * 1 = 10	10 * 2 = 20	10 * 3 = 30	10 * 4 = 40	10 * 5 = 50	10 * 6 = 60	10 * 7 = 70	10 * 8 = 80	10 * 9 = 90	10 * 10 = 100

In [ ]:
for i in range (1,11):
  for j in range (1,11):
    print (i, "*", j, "=", i*j, end="\t")
  print()

1 * 1 = 1	1 * 2 = 2	1 * 3 = 3	1 * 4 = 4	1 * 5 = 5	1 * 6 = 6	1 * 7 = 7	1 * 8 = 8	1 * 9 = 9	1 * 10 = 10
2 * 1 = 2	2 * 2 = 4	2 * 3 = 6	2 * 4 = 8	2 * 5 = 10	2 * 6 = 12	2 * 7 = 14	2 * 8 = 16	2 * 9 = 18	2 * 10 = 20
3 * 1 = 3	3 * 2 = 6	3 * 3 = 9	3 * 4 = 12	3 * 5 = 15	3 * 6 = 18	3 * 7 = 21	3 * 8 = 24	3 * 9 = 27	3 * 10 = 30
4 * 1 = 4	4 * 2 = 8	4 * 3 = 12	4 * 4 = 16	4 * 5 = 20	4 * 6 = 24	4 * 7 = 28	4 * 8 = 32	4 * 9 = 36	4 * 10 = 40
5 * 1 = 5	5 * 2 = 10	5 * 3 = 15	5 * 4 = 20	5 * 5 = 25	5 * 6 = 30	5 * 7 = 35	5 * 8 = 40	5 * 9 = 45	5 * 10 = 50
6 * 1 = 6	6 * 2 = 12	6 * 3 = 18	6 * 4 = 24	6 * 5 = 30	6 * 6 = 36	6 * 7 = 42	6 * 8 = 48	6 * 9 = 54	6 * 10 = 60
7 * 1 = 7	7 * 2 = 14	7 * 3 = 21	7 * 4 = 28	7 * 5 = 35	7 * 6 = 42	7 * 7 = 49	7 * 8 = 56	7 * 9 = 63	7 * 10 = 70
8 * 1 = 8	8 * 2 = 16	8 * 3 = 24	8 * 4 = 32	8 * 5 = 40	8 * 6 = 48	8 * 7 = 56	8 * 8 = 64	8 * 9 = 72	8 * 10 = 80
9 * 1 = 9	9 * 2 = 18	9 * 3 = 27	9 * 4 = 36	9 * 5 = 45	9 * 6 = 54	9 * 7 = 63	9 * 8 = 72	9 * 9 = 81	9 * 10 = 90
10 * 1 = 10	10 * 2 = 20	10 * 3 = 30	10 * 4 = 40	10 * 5 = 50	10 * 6 = 60	10 * 7 = 70	10 * 8 = 80	10 * 9 = 90	10 * 10 = 100

In [ ]:
max_value = 50
value = 0
for value in range (0, max_value + 1):
  if (value % 3 == 0) and (value % 4 == 0):
    print (value)

0
12
24
36
48

In [ ]:
temperature = 22  # Example temperature

if temperature < 20:
    print("It might be cold! You might need a jacket.")
else:
    print("It's warm! Enjoy the sunshine.")

It's warm! Enjoy the sunshine.

In [ ]:
temperature = 15  # Let's assume the temperature is 15 degrees Celsius

if temperature < 10:
    print("Wear a jacket! It's cold out there.")
elif 10 <= temperature < 20:
    print("A light sweater should be fine. It's a bit chilly.")
elif 20 <= temperature < 30:
    print("Enjoy the pleasant weather! No need for extra layers.")
else:
    print("It's hot! Stay hydrated and wear sunscreen.")

A light sweater should be fine. It's a bit chilly.

In [ ]:
# Example: Print numbers from 1 to 5
for i in range(1, 6):
    print(i)

1
2
3
4
5

In [ ]:
# Example: Keep asking for input until the user enters "quit"
user_input = ""
while user_input != "quit":
    user_input = input("Enter something (or 'quit' to exit): ")
    print("You entered:", user_input)

Enter something (or 'quit' to exit): 1
You entered: 1

KeyboardInterrupt: Interrupted by user

In [ ]:
numbers = [3, 9, 1, 10, 5, 2, 8]
for number in numbers:
  if (number % 2 == 0):
    print (number, 'is even')
  else:
    print (number, 'is odd')

3 is odd
9 is odd
1 is odd
10 is even
5 is odd
2 is even
8 is even

In [ ]:
names = ['abc', 'def', 'ghe']
for name in names:
  if (name.startswith('a')):
    print ('name starts with a', name)

name starts with a abc

In [ ]:
time = 11
while time >= 1:
  time = time - 1
  if (time == 5):
    print ('Half time', time)
  else:
    print (time)

10
9
8
7
6
Half time 5
4
3
2
1
0

In [ ]:
x = 0

if x > 5:
    print("x is greater than 5")
else:  # Incorrect indentation
    print("x is less than or equal to 5")

x is less than or equal to 5

In [ ]:
flag = True
if flag:
    x = 10
    print('A', x) # No problem here

print('B', x) # No error if flag = True

A 10
B 10

In [ ]:
value = "Hello"
value[0] = 'h'
print(value)

TypeError: 'str' object does not support item assignment

In [ ]:
value = "Hello"
new_value = "h" + value[1:]
print(new_value)  # Output: hello

hello

In [ ]:
x = 5
if True:
   x = 10  # You've used 'x' again here!
   print(x)  # Output: 10

print(x)  # Output: 10

10
10

In [ ]:
x = 5

def update():
    x = 10
    print(x)

update()
print(x)

10
5

In [ ]:
x = 10
y = 0

result = x / y

ZeroDivisionError: division by zero

In [ ]:
x = 10
y = 0

try:
    result = x / y
except ZeroDivisionError:
    print("Error: Division by zero")

Error: Division by zero

In [ ]:
# Create a list and add sample Celsius temperatures to it
celsius_temperatures = [] # Start with an empty list (do not modify)

# Add the Celsius temperatures to the list
celsius_temperatures = [0, 10, 25, 32, 100]

# Create an empty list to store Fahrenheit temperatures
fahrenheit_temperatures = []

# Print both lists (do not modify)
print("Celsius Temperatures:", celsius_temperatures)

# Convert each Celsius temperature to Fahrenheit
for celsius in celsius_temperatures:  # Start the loop (do not modify this line)
  fahrenheit = (celsius * 9/5) + 32
  fahrenheit_temperatures.append(fahrenheit)
print("Fahrenheit Temperatures:", fahrenheit_temperatures)

Celsius Temperatures: [0, 10, 25, 32, 100]
Fahrenheit Temperatures: [32.0, 50.0, 77.0, 89.6, 212.0]

In [ ]:
grocery_list = ["milk", "hummus", "bread", "cheese", "apples"]

In [ ]:
print(grocery_list)

['milk', 'hummus', 'bread', 'cheese', 'apples']

In [ ]:
print(grocery_list[0])

milk

In [ ]:
print(len(grocery_list))

5

In [ ]:
print(grocery_list[len(grocery_list)-1])

apples

In [ ]:
print(grocery_list[0:2])

['milk', 'hummus']

In [ ]:
exam_scores = [55, 70, 78, 52, 68]
curve_amount = 10
# Use a list comprehension to create a new list of curved grades
curved_grades = [score + curve_amount for score in exam_scores]
print("Original scores:", exam_scores)
print("Curved scores:", curved_grades)

Original scores: [55, 70, 78, 52, 68]
Curved scores: [65, 80, 88, 62, 78]

In [ ]:
grid = [

	  [1, 2, 3],

	  [4, 5, 6],

	  [7, 8, 9]

	]

In [ ]:
print(grid[-1][2])

9

In [ ]:
print (exam_scores[-1])

68

In [ ]:
def rect_area (length, width):
  """here is a function to calculate the area of a rectangle. The function accepts the length and width and returns the calculated area"""
  return length * width
print (rect_area (2.2,4))

8.8

In [ ]:
def calculate_area(length, width):
  return length * width

# Example usage:
length = 5
width = 3
rectangle_area = calculate_area(length, width) # Function call, providing inputs
print(f"The area of the rectangle is: {rectangle_area}") # Using the output

The area of the rectangle is: 15

In [ ]:
def calculate ():
  sum = int(input("A:")) + int(input("B:"))
  return sum

print (calculate ())

A:1
B:2
3

In [ ]:
def calculate ():
  A = int(input("A:"))
  B = int(input("B:"))
  sum = A + B
  print("The sum is", sum)

calculate ()

A:2
B:3
The sum is 5

In [ ]:
antarctic_temperatures = [1, 2, 3, 4, 5.6, 9.9, 2.2, 10, 0.9]

print("Maximum Temp:", max(antarctic_temperatures), "Minimum Temp:", min(antarctic_temperatures))
print ("Sum of all temp:", sum(antarctic_temperatures))
print ("Count of all temp:", len(antarctic_temperatures))
print ("Avg of all temp:", sum(antarctic_temperatures)/ len(antarctic_temperatures))
print ("Rounded value of avg temp:", round(sum(antarctic_temperatures)/ len(antarctic_temperatures),1))

Maximum Temp: 10 Minimum Temp: 0.9
Sum of all temp: 38.6
Count of all temp: 9
Avg of all temp: 4.288888888888889
Rounded value of avg temp: 4.3

In [ ]:
antarctic_temperatures = [-25.5, -28.0, -26.3, -23.8, -27.1, -24.9, -29.2]

# Find the highest and lowest temperatures
highest_temp = max(antarctic_temperatures) ### Insert code here
lowest_temp = min(antarctic_temperatures) ### Insert code here

print("Highest temperature:", highest_temp, "°C")
print("Lowest temperature:", lowest_temp, "°C")

# Calculate the average temperature
average_temp = round(sum(antarctic_temperatures) / len (antarctic_temperatures),1)
print("Average temperature:", average_temp, "°C")

# Find the absolute value of the coldest temperature
coldest_temp_abs = abs(lowest_temp) ### Insert code here
print("The coldest temperature was", coldest_temp_abs, "°C below freezing.")

Highest temperature: -23.8 °C
Lowest temperature: -29.2 °C
Average temperature: -26.4 °C
The coldest temperature was 29.2 °C below freezing.

In [ ]:
int_value = 15
float_value = 4.1
text_value = "33"

type_of_float_value = type(float_value) # STEP 2: YOUR CODE HERE

# Convert text_value to an integer
text_value_as_int = int(text_value) # STEP 3: YOUR CODE HERE

# Convert int_value to text
int_value_as_text = str(int_value) # STEP 4: YOUR CODE HERE

# DO NOT CHANGE LINES BELOW
# Print the type of float_value
print("float_value type:", type_of_float_value)

# Adding text_value_as_int to int_value
print("Integer addition: Adding text_value_as_int (33) to int_value (15):", text_value_as_int + int_value)

# Adding (concatenating) text values
print("Text addition: Adding text_value (33) to int_value_as_text (15):", text_value + int_value_as_text)

float_value type: <class 'float'>
Integer addition: Adding text_value_as_int (33) to int_value (15): 48
Text addition: Adding text_value (33) to int_value_as_text (15): 3315

In [ ]:
def calculate_average(numbers):
    total = 0  # Local variable
    count = len(numbers)  # Local variable
    for num in numbers:
        total += num
    average = total / count
    return average

print(calculate_average([2, 5, 4, 1]))

3.0

In [ ]:
# Global variable
COMPANY_NAME = "Global Tech Solutions"

def print_welcome_message():
    print("Welcome to", COMPANY_NAME.upper())

def print_contact_info():
    print("Contact", COMPANY_NAME, "at info@globaltechsolutions.com")

# Output: Welcome to GLOBAL TECH SOLUTIONS
print_welcome_message()

# Output: Contact Global Tech Solutions at info@globaltechsolutions.com
print_contact_info()

Welcome to GLOBAL TECH SOLUTIONS
Contact Global Tech Solutions at info@globaltechsolutions.com

In [ ]:
def outer_function():
    outer_var = "Hello from the outer function!"
    def inner_function():
        print(outer_var)  # Accessible from the enclosing scope
    inner_function()
outer_function()

Hello from the outer function!

In [ ]:
name = 'abc'
print(name.upper())

ABC

In [ ]:
class BankAccount:
    def __init__(self, balance):
        self._balance = balance  # Private attribute
    def deposit(self, amount):
        self._balance += amount
    def get_balance(self):
        return self._balance
account = BankAccount(100)
account.deposit(50)
account.get_balance()
abc = BankAccount(100)
abc.deposit(10)
abc.get_balance()
Jason = BankAccount (501)
Jason.get_balance ()

501

In [ ]:
class Car:
    def __init__(self, make, model, year, color):
        self.make = make
        self.model = model
        self.year = year
        self.color = color
        self.fuel_level = 100  # Initial fuel level
Shashank = Car('Toyota', 'RAV4', '2024', 'Grey')
print("Shashank's nice car", Shashank.__dict__)
Rishi = Car ('Honda', 'Insight', '2021', 'Grey')
print("Rishi's nice car", Rishi.__dict__)

Shashank's nice car {'make': 'Toyota', 'model': 'RAV4', 'year': '2024', 'color': 'Grey', 'fuel_level': 100}
Rishi's nice car {'make': 'Honda', 'model': 'Insight', 'year': '2021', 'color': 'Grey', 'fuel_level': 100}

In [ ]:
from abc import ABC, abstractmethod

class Animal(ABC):  # Abstract base class
    @abstractmethod
    def make_sound(self):
        pass

class Dog(Animal):  # Concrete subclass
    def make_sound(self):
        return "Bark!"

In [ ]:
class Dog:
  def __init__(self, name, breed):
    self._name = name
    self._breed = breed

  def bark(self,name, breed):
    print(f"Woof! My name is {self._name} and I'm a {self._breed}.")

my_dog = Dog("Buddy", "Golden Retriever")
my_dog.bark("Buddy", "Golden Retriever")

Woof! My name is Buddy and I'm a Golden Retriever.

In [ ]:
def calculate_monthly_payment(principal: float, interest_rate: float, loan_term_years: int) -> float:
    """
    Calculates the monthly payment for a fixed-rate loan.

    Args:
        principal: The total amount borrowed (float).
        interest_rate: The annual interest rate (as a decimal, float).
        loan_term_years: The loan term in years (int).

    Returns:
        The monthly payment amount (float).

    Raises:
        ValueError: If any of the inputs are negative or zero.

    Example:
        >>> calculate_monthly_payment(100000, 0.05, 30)
        530.33
    """
    if principal <= 0 or interest_rate <= 0 or loan_term_years <= 0:
        raise ValueError("All input values must be positive.")

    monthly_interest_rate = interest_rate / 12
    number_of_payments = loan_term_years * 12

    # Calculation logic for monthly payment (omitted for brevity)

    return monthly_payment

In [ ]:
global_sum = 0  # Global variable

def calculate_mean_with_side_effect(list_numbers):
    global global_sum  # Modifying a global variable
    global_sum = sum(list_numbers)
    return global_sum / len(list_numbers)

calculate_mean_with_side_effect([5, 3, 4, 1, 1])

2.8

In [ ]:
global_sum = 0  # Global variable

def calculate_mean_with_side_effect(list_numbers):
    global_sum = sum(list_numbers)
    return global_sum / len(list_numbers)

print(calculate_mean_with_side_effect([5, 3, 4, 1, 1]))
print (global_sum)

2.8
0

In [ ]:
def calculate_diameter_circle(radius:float) -> float:
  """Something"""
  if radius<0:
    return -1
  else:
    diameter = radius * 2
    return diameter

print(calculate_diameter_circle(7))
print(calculate_diameter_circle(2.5))
print(calculate_diameter_circle(0))
print(calculate_diameter_circle(1000000))
print(calculate_diameter_circle(-3))

14
5.0
0
2000000
-1

In [ ]:
def happy_birthday():
  print("Happy Birthday!")

happy_birthday()

Happy Birthday!

In [ ]:
def happy_birthday(age, name):
  print(f"Happy Birthday", name, "and congratulations on turning",age, "years old!")

# Code to call the function
happy_birthday(22, "Nora")

Happy Birthday Nora and congratulations on turning 22 years old!

In [ ]:
import random

def get_lucky_number():
# Insert code here
  lucky_num = random.randint(1,100)
  # Insert code here
  return lucky_num
# Get a lucky number between 1 and 100
lucky_number = get_lucky_number()

print("Your lucky number is:", lucky_number)

Your lucky number is: 27

In [ ]:
def calc_sale_price(amount, member):
	if member:
		# Members receive a 15% discount (0.15)
		amount = amount - (amount * 0.15)
	else:
		# Non-members get a 5% discount (0.05)
		amount = amount - (amount * 0.05)

	# Round amount to two decimal places
	# Save back in the amount variable
	amount = round(amount,2)

	# Return amount to the main program
	return amount

# Example price (already provided)
full_price = 150.50

# Call function for members
member_price = calc_sale_price(full_price, True)
print("Member price:",member_price)

# Call function for non-members
non_member_price = calc_sale_price(full_price, False)
print("Non-member price:",non_member_price)

Member price: 127.92
Non-member price: 142.97

In [ ]:
shirt_color = "Pink"

def display_color_works():
  shirt_color = "Pink"
  print("First shirt color is:", shirt_color)

def display_color_failure():
  # Try to access 'color' directly (this will cause an error)
  print("Your shirt color is:", shirt_color)

# The shirt_color variable is in scope in this function
display_color_works()

# The shirt_color variable is not in scope in this function
display_color_failure()

First shirt color is: Pink
Your shirt color is: Pink

In [ ]:
def is_valid_tweet_length(tweet_text):
    """Validates the tweet length."""
    if not tweet_text:
        return False # Tweet text cannot be empty
    if len(tweet_text) > 280:
        return False # Tweet text is too long (over 280 characters)
    return True

def are_valid_media_files(media_files):
    """Validates the media files (basic check)."""
    if media_files is None:
        return True  # No media is fine
    elif isinstance(media_files, list):
        return True  # A list of media files is fine for this basic check
    else:
        return False # Anything else is not a valid format

In [ ]:
from textblob import TextBlob
from nltk.corpus import stopwords
from collections import Counter

def preprocess_review(review):
    """Removes stopwords, punctuation, and converts to lowercase."""
    # ... (Implementation details)
    return preprocessed_review

def analyze_sentiment(preprocessed_review):
    """Calculates polarity and subjectivity using TextBlob."""
    # ... (Implementation details)
    return polarity, subjectivity

def extract_keywords(preprocessed_review):
    """Identifies the most frequent nouns and adjectives."""
    # ... (Implementation details using NLTK)
    return keywords

def categorize_review(polarity, subjectivity, keywords):
    """Classifies reviews based on polarity, subjectivity, and keywords."""
    # ... (Implementation details with custom rules)
    return category

celsius_to_fahrenheit(celsius): Takes a temperature in Celsius and converts it to Fahrenheit.

fahrenheit_to_celsius(fahrenheit): Takes a temperature in Fahrenheit and converts it to Celsius.

convert_temperature(temperature, unit): Takes a temperature value and a unit ('C' for Celsius or 'F' for Fahrenheit). It calls the appropriate conversion function based on the unit and returns the converted temperature.

In [ ]:
def celsius_to_fahrenheit(celsius):
  converted_f = (celsius * 9/5) + 32
  print(f"{temperature_c}°C is equal to {converted_f}°F")
  return converted_f

def fahrenheit_to_celsius(fahrenheit):
  converted_c = (fahrenheit - 32) * 5/9
  print(f"{temperature_f}°F is equal to {converted_c}°C")
  return converted_c

def convert_temperature(temperature, unit):
  if (unit == 'C'):
    return celsius_to_fahrenheit(temperature)
  elif (unit == 'F'):
    return fahrenheit_to_celsius(temperature)

temperature_c = 25
temperature_f = 77

converted_f = convert_temperature(temperature_c, 'C')
converted_c = convert_temperature(temperature_f, 'F')

25°C is equal to 77.0°F
77°F is equal to 25.0°C

In [ ]:
def calculate_area(width=1, height=1):
    area = width * height
    return area

result = calculate_area()
print(result)

1

In [ ]:
def flexible_function(*args, **kwargs):
    print("Positional arguments:", args)
    print("Keyword arguments:", kwargs)

flexible_function(1, 2, 3, name="Alice", age=30)

In [ ]:
def create_user_profile(name, age, occupation="Student", interests=None): # Use None as default
    """
    Creates a user profile with optional interests.

    Args:
        name (str): The user's name (required).
        age (int): The user's age (required).
        occupation (str, optional): The user's occupation (defaults to "Student").
        interests (list, optional): A list of the user's interests (defaults to None).
    """
    if interests is None:  # Initialize if None
        interests = []

    profile = {
        "name": name,
        "age": age,
        "occupation": occupation,
        "interests": interests
    }

    return profile

# Usage
user1 = create_user_profile("Alice", 25, "Software Engineer", ["Coding", "Hiking"])
user2 = create_user_profile("Bob", 18)  # Uses default occupation and no interests
user3 = create_user_profile("Carol", 30, interests=["Gardening", "Reading"])

print(user1)
print(user2)
print(user3)

None
None
None

Functional code challenge: Make a sandwich

Task:

Create a Python function named make_sandwich.

This function should accept the following parameters:

bread_type (a string representing the type of bread)

filling (a string for the main sandwich filling)

cheese (an optional string for the cheese type, defaulting to "none")

toasted (an optional boolean indicating if the sandwich is toasted, defaulting to False)

Inside the function, construct a descriptive sentence about the sandwich being made, incorporating all the provided details.

Have the function return the sentences shown in the Expected Output section below.

Tips:

Remember to use default values for the optional parameters.

Use two if statements to handle the cheese case and the toasted case.

You can use f-strings for convenient string formatting.

Ensure you return the string, not print it.
Example Input:

make_sandwich("wheat", "turkey", "cheddar", True)
make_sandwich("rye", "ham")

Expected output:

Making a toasted wheat sandwich with turkey and cheddar cheese.
Making a rye sandwich with ham.

In [ ]:
def make_sandwich(bread_type, filling, cheese = None, toasted = False):
  if (toasted==True):
      if cheese is not None:
          return f"Making a toasted {bread_type} sandwich with {filling} and {cheese} cheese."
      else:
          return f"Making a toasted {bread_type} sandwich with {filling}."
  else:
      if cheese is not None:
          return f"Making a {bread_type} sandwich with {filling} and {cheese} cheese."
      else:
          return f"Making a {bread_type} sandwich with {filling}."

Expected_Output1 = make_sandwich("wheat", "turkey", "cheddar", True)
Expected_Output2 = make_sandwich("rye", "ham")

print (Expected_Output1)
print (Expected_Output2)

Making a toasted wheat sandwich with turkey and cheddar cheese.
Making a rye sandwich with ham.

In [ ]:
import geometry_calculations

In [ ]:
# File: main.py
radius = 5
area = geometry_calculations.calculate_area_circle(radius)
circumference = geometry_calculations.calculate_circumference_circle(radius)

print(f"Area of circle: {area}")
print(f"Circumference of circle: {circumference}")

rect = geometry_calculations.Rectangle(4, 6)
rect_area = rect.calculate_area()
rect_perimeter = rect.calculate_perimeter()

print(f"Area of rectangle: {rect_area}")
print(f"Perimeter of rectangle: {rect_perimeter}")

Area of circle: 78.53981633974483
Circumference of circle: 31.41592653589793
Area of rectangle: 24
Perimeter of rectangle: 20

In [ ]:
students = [
    {"name": "abc", "age":1},
    {"name": "def", "age":2}
]

course = {'History', 'Math', 'Science'}

In [ ]:
shopping_list = ["apples", "bananas", "milk"]
item_quantities = {"apples":1, "bananas":2}

# User adds an item
shopping_list.append("eggs")
item_quantities["eggs"] = 12

# User increases the quantity of bananas
item_quantities["bananas"] += 2

# User removes apples
shopping_list.remove("apples")
del item_quantities["apples"]

# Print updated list and dictionary
print(shopping_list)
print(item_quantities)

['bananas', 'milk', 'eggs']
{'bananas': 4, 'eggs': 12}

In [ ]:
# Tuples
coordinates = (37.7749, -122.4194)  # Latitude, longitude of San Francisco
birth_date = (1990, 12, 25)       # Year, month, day

# Sets
unique_colors = {"red", "green", "blue"}
numbers = [1, 2, 2, 3, 4, 4, 5]
unique_numbers = set(numbers)    # Removes duplicates
print(unique_numbers)

{1, 2, 3, 4, 5}

In [ ]:
shopping_cart = []
shopping_cart.append("Shopping Cart:")
shopping_cart.append('apple')
shopping_cart.append('banana')
shopping_cart.append('milk')

for item in shopping_cart:
  print(item)

Shopping Cart:
apple
banana
milk

In [ ]:
product_catalog = {
    'SKU123': {
      'name':'Widget A',
      'price':19.19,
      'quantity':50
    },
    'SKU456': {
      'name':'Widget B',
      'price':34.95,
      'quantity':25
    },
    'SKU789': {
      'name':'Widget C',
      'price':9.99,
      'quantity':100
    }
}

sku_to_find = input("Enter the SKU: ")

if (sku_to_find in product_catalog):
  print(f"The price of {product_catalog[sku_to_find]['name']} is ${product_catalog[sku_to_find]['price']}")

Enter the SKU: SKU123
The price of Widget A is $19.19